@media (max-width: 600px) {
  /* Header */
  /* ---------------------------------- */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 2%;
    background-color: rgba(0, 0, 0, 0.179);
    backdrop-filter: blur(2px);
    border-bottom: solid var(--primary) 1px;
    z-index: 1;
    transition: all 0.3s ease-in;
  }

  header .header-col-1 {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 5px 0;
  }
  header .header-col-1 img {
    width: 150px;
  }

  .header-col-1 .beta {
    position: absolute;
    background-color: var(--primary);
    padding: 2px 5px;
    border-radius: 20px;
    color: var(--bg);
    font-size: 8px;
    top: 10px;
    left: 150px;
  }

  .header-col-1 #ellipsis-btn {
    text-align: center;
    padding: 5px;
    font-size: 25px;
    color: var(--bg);
    border-radius: 8px;
    width: 20px;
  }

  .header-col-1 #ellipsis-btn:hover {
    color: var(--primary);
  }

  /* => Nav Bar */
  nav {
    display: none;
    padding: 0 0 10px 0;
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;
    font-weight: 250;
  }

  .nav-item,
  .nav-icon {
    color: var(--bg);
  }

  .nav-item.nav-item-active,
  .nav-icon-active {
    color: var(--primary);
  }

  /* => User control */
  .user-controls {
    position: fixed;
    background-color: var(--bg);
    top: 0;
    right: -212px;
    z-index: 2;
    width: 200px;
    height: 100vh;
    transition: all 0.2s ease-in-out;
  }

  .user-controls.user-controls-active {
    right: 0;
    transition: all 0.2;
  }

  .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid var(--primary) 1px;
  }

  .user .close-user-control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -12px;
    top: 10;
    width: 25px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    font-size: 0.8em;
    text-align: center;
    color: var(--bg);
    background-color: var(--primary);
  }

  .user i {
    font-size: 0.7em;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .user-name {
    text-align: end;
  }

  .user .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary);
    overflow: hidden;
  }
  .user .profile img {
    width: 101%;
  }
  .user .profile i {
    color: var(--bg);
  }

  .user-controls .close-user-control i {
    color: var(--primary);
  }

  .user-controls .toolbar {
    margin-top: 10px;
    margin-left: 10px;
    gap: 10px;
    overflow: auto;
  }

  .toolbar span {
    display: block;
    border-bottom: solid var(--text) 1px;
  }

  .toolbar span i {
    color: var(--primary);
    width: 25px;
    margin: 5px 0;
  }

  .lang-list,
  .curency-list {
    color: var(--bg);
    display: block;
    list-style: none;
    font-size: 0.8em;
    margin-bottom: 5px;
  }

  .lang-list li,
  .curency-list li {
    margin: 8px 0 8px 30px;
  }
  .lang-list li a,
  .curency-list li a {
    color: var(--text);
  }

  /* Heading & Paragraph */
  /* ---------------------------------- */
  /* => Heading */
  .h1 {
    color: var(--bg);
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .h3 {
    margin-bottom: 10px;
    color: var(--primary);
  }

  .h4 {
    font-weight: 300;
  }

  /* => Paragraph */
  .p1 {
    margin-bottom: 20px;
    font-size: 0.8em;
  }

  .p2 {
    margin-bottom: 10px;
    font-size: 0.8em;
  }

  .span1 {
    margin-bottom: 20px;
    font-size: 0.8em;
  }

  /* Button*/
  #left-nav,
  #right-nav {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--bg);
    filter: drop-shadow(rgba(0, 0, 0, 0.319) 2px 0 3px);
  }

  .more-a {
    display: flex;
    justify-content: end;
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
  }
  .more-a a {
    color: var(--primary);
    font-size: 0.8em;
  }
  .more-a a:hover {
    color: var(--secondary);
    transition: 0.2s ease-in-out;
  }

  /* => button variant */
  .btn {
    border: solid var(--text) 1px;
    padding: 2px 10px;
    border-radius: 25px;
  }

  .btn.btn-active {
    border: solid var(--primary) 1px;
    color: var(--primary);
    background-color: var(--trn-primary);
    border-radius: 25px;
  }

  /* Section */
  /* ---------------------------------- */
  .scn {
    width: 96%;
    padding: 0 2% 0 2%;
  }

  .scn.scn-1 {
    height: 150px;
    background-image: url(../assets/sq6.jpg);
    background-size: 101%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 150px 2% 0 2%;
    border-image: fill 0 linear-gradient(to top, #f2f2f2 5%, rgba(254, 254, 254, 0) 30%);
  }

  .scn.scn-2 {
    width: 96%;
    background: none;
    margin-top: 10px;
  }
  .scn.scn-3 {
    width: 96%;
    margin-top: 50px;
    background: none;
  }

  /* Hero & Search form */
  /* ---------------------------------- */

  .search-form {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .seaarch-field {
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 125px;
    padding-left: 10px;
    background: var(--trn);
    border: solid var(--primary) 1px;
    backdrop-filter: blur(2px);
    color: white;
    font-weight: 300;
  }

  .seaarch-field::placeholder {
    color: rgb(255, 255, 255);
  }

  #search-btn {
    position: absolute;
    width: 50px;
    background-color: var(--primary);
    border: none;
    height: 25px;
    color: var(--bg);
    border-radius: 25px;
    padding: 0 10px;
    right: 0;
  }

  /* Container, wrapper & carousel*/
  /* ---------------------------------- */
  /* => Containner */
  /* Container a---------------------------- */
  .container-a {
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  .container-a1 {
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: end;
    gap: 15px;
  }

  .sub-container-a {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  .container-a::-webkit-scrollbar {
    display: none;
  }

  /* Container b---------------------------- */
  .container-b {
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  .sub-container-b {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    gap: 5px;
  }

  .container-b::-webkit-scrollbar {
    display: none;
  }

  /* Container c---------------------------- */
  .container-c {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  /* Cards */
  /* ---------------------------------- */
  /* => Card */
  /* Card a---------------------------- */
  .card-a {
    display: inline-flex;
    flex: 0 0 100%;
    width: 100%;
    height: 110px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
  }

  .card-a .card-a-inf {
    width: 50%;
    padding-left: 10px;
  }

  .h4-card-a {
    color: var(--primary);
  }

  .card-a .card-a-inf ul {
    margin-left: 10px;
    list-style: none;
    font-size: 0.8em;
    gap: 20px;
  }

  .card-a-inf ul li i {
    color: #4aa94b;
  }

  .card-a .card-a-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
  }

  .card-a .card-a-img img {
    max-width: 100%;
  }

  /* Card b---------------------------- */

  .card-b {
    display: flex;
    flex-direction: column;
    flex: 0 0 38%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
  }

  .card-b-img {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
  }

  .card-b-img img {
    width: 100%;
  }

  .card-b-inf {
    display: flex;
    flex-direction: column;
    height: 50px;
    padding: 5px;
  }
  .card-b-inf .h4-card-a {
    margin-bottom: 5px;
  }

  .card-b-inf .span1 i {
    color: var(--third);
  }

  /* Card c---------------------------- */
  .card-c {
    display: flex;
    flex-direction: column;
    flex: 0 0 48.5%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
  }

  .card-c-img {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
  }

  .card-c-img img {
    width: 100%;
  }

  .card-c-inf {
    display: flex;
    flex-direction: column;
    height: 50px;
    padding: 5px;
  }
  .card-c-inf .h4-card-a {
    margin-bottom: 5px;
  }

  .card-c-inf .span1 i {
    color: var(--third);
  }

  /* Bottom navigation */
  .nav-bootom {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    padding: 0 2% 0 2%;
    gap: 10px;
    background-color: var(--primary);
  }

  .nav-box {
    width: 48%;
    padding-top: 10px;
  }

  .nav-tite {
    border-bottom: solid var(--bg) 1px;
  }
  .nav-tite h4.h4 {
    color: var(--bg);
    font-weight: 300;
  }

  .nav-bootom-item {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
  }

  .nav-bootom-item li a {
    font-size: var(--paragraph1-mbl);
    color: var(--bg);
    font-weight: 250;
  }

  /* Cart list */
  /* ---------------------------------- */
  .float-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    font-size: 1.2em;
    filter: drop-shadow(rgba(0, 0, 0, 0.303) 2px 2px 3px);
  }

  .float-btn.cart-btn {
    background: var(--primary);
    color: var(--third);
    right: 15px;
    bottom: 50px;
    transition: 0.2s ease-in-out;
  }

  .list-cart {
    display: none;
    position: fixed;
    right: -60%;
    top: 0;
    bottom: 0;
    width: 50%;
    background: var(--bg);
    z-index: 1;
    border-left: solid var(--primary) 1px;
    padding-left: 5px;
    transition: 0.2s ease-in-out;
  }
  .list-cart-active {
    display: block;
    right: 0%;
  }

  /* Footer */
  /* ---------------------------------- */
  .footer {
    width: 96%;
    padding: 10px 2% 10px 2%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: solid var(--primary) 1px;
  }

  .footer p {
    font-size: 0.5em;
  }

  .footer ul {
    gap: 15px;
    display: flex;
    list-style: none;
  }
  .footer ul li i {
    font-size: 15px;
    color: #2d2d2d;
  }
}
